PORT=8765
CODEX_PYTHON=/absolute/path/to/python3
YIKAO_API_BASE=https://eztest.cn
YIKAO_API_KEY=xxxx
TENCENT_DOC_CLIENT_ID=xxxx
TENCENT_DOC_ACCESS_TOKEN=xxxx
TENCENT_DOC_OPEN_ID=xxxx
TENCENT_DOC_FILE_ID=DR3NiT296WmtpWXVM
TENCENT_DOC_SHEET_ID=BB08J2
